$text_large: 1.7rem;
$text_medium: 1.5rem;
$text_normal: 0.9rem;
$text_small: 0.8rem;
$text_tiny: 0.7rem;

$font_heading: 'M PLUS Rounded 1c', sans-serif;
$font_copy: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;;
$font_mono: 'Inconsolata', monospace;
