@import '../../../node_modules/purecss/build/base-min.css';
@import 'colors';
@import 'fonts';

$breakpoint_desktop: 1200px;
$breakpoint_tablet: 992px;
$breakpoint_phone: 768px;

:global {

  body {
    color: $color_black;
    font-family: $font_copy;
    font-size: $text_normal;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: $breakpoint_phone) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: $breakpoint_tablet) {
    .container {
      width: 900px;
    }
  }
  @media (min-width: $breakpoint_desktop) {
    .container {
      width: 1000px;
    }
  }

  p {
    line-height: 1.5rem;
  }

}
